<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>unijdbc</display-name>
  
  
  
  <!-- Il funzionamento di Spring MVC è abbastanza semplice: 
  tutto ruota intorno ad una servlet, la DispatcherServlet, 
  che permette di redirigere tutte le chiamate della nostra applicazione
   verso il mondo di Spring MVC. Per questo motivo la configurazione 
   iniziale deve appunto partire da questa Servlet: 
   apriamo quindi il nostro file web.xml e inseriamo la seguente direttiva J2EE: -->
 
     <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>
                org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
       		<param-name>contextConfigLocation</param-name>
       		<param-value>/WEB-INF/spring-servlet.xml</param-value>
    		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern> 
    </servlet-mapping>
    
    <!-- Utilizzando come url-pattern lo slash (/) 
    abbiamo comunicato alla DispatcherServlet che tutte le chiamate web
     che transitano attraverso la nostra applicazione devono essere coinvogliate
      verso Spring MVC. Nulla ci vieta di inserire una direttiva
       meno globale per gestire diversamente altre chiamate. -->
    
    
    <!-- -Al load della servlet, il framework va alla ricerca di un file 
    all’interno della cartella WEB-INFO chiamato 
    {nomeservlet}-servlet.xml (quindi nel nostro caso spring-servlet.xml)
     dove devono essere definiti 
    tutti i bean e le configurazioni da utilizzare in Spring MVC, -->
    
    
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>